
body {
    margin : 0px; 
    overflow: hidden; 
    font-family: Monospace;
}

.box {

}

.floating-sendBtn{
    position: fixed; 
    z-index: 99999;
    right: 2%;
    bottom: 2%;
}

.floating-select{
    position: fixed;
    left: 2%;
    top: 2%;
    height: 0px;
    z-index: 9999;

}
.form-select{
    width: auto!important;
}
.floating-select2{
    position: fixed;
    right: 2%;
    top: 2%;
    height: 0px;
    z-index: 9999;
}

.floating-btn-take-photo {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 60px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    transition: background 0.25s;
    cursor: pointer;
    outline: white;
    z-index: 9999;

}
.floating-btn-take-photo:active {
    background-color: rgba(22, 22, 22, 0.555);
    color: white;
}

.floating-btn-switch-camera {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 60px;
    position: fixed;
    right: 2%;
    top: 2%;
    transition: background 0.25s;
    cursor: pointer;
    outline: white;
    z-index: 9999;

}
.floating-btn-switch-camera:active {
    background-color: rgba(22, 22, 22, 0.555);
    color: white;
}

.floating-canvas {
    width: 15%;
    height: 15%;
    border: 1px solid rgba(221, 221, 221, 0.678);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    
}